<!doctype html>

	<style>

    	.arc:hover{
    	fill: #999;
	
	}
	</style>
    <html ng-app='myApp'> 
      <head>
      	<link rel = "stylesheet" type = "text/css" href = "stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src = "http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	</head>
      <body>

	  <div ng-controller='customersCtrl as rests'>
		<input type = "text" ng-model="rests.yourPostcode" placeholder="Please Enter your postcode">
		<button type = "button" id = "postcodeLauncher" ng-click= "rests.setRests()">See the nearest things!</button>
		
		<div ng-show = "rests.showValues" class = "ng-hide" id = "theCode">
		<!--THE RESTAURANTS:
		<ul>	
			<li ng-repeat="x in restNames">
				{{x.Name}} 
			</li>
		</ul>
		THE CUISINES
		<ul>
			<li ng-repeat="x in restCuisines">
				{{x}}
			</li>	
		</ul>
		<ul>
			
			<li ng-repeat="(cuisine, restauNames) in restCuisineNames">
				Cuisine {{cuisine}} has the restaurants {{restauNames}}:
			</li>
		</ul>-->
			<button type = "button" id = "rotateChart" ng-click = "clickityClick()">Click To Rotate!</button> 
		</div>
		<div id ="chart_div"></div>

	 <div linear-chart chart-data="cuisine"></div>
	<!--	<canvas id = "myChart" width = "400" height = "400"></canvas>-->
	  </div>	 
	
	<script src="index.js"></script>
      </body>
 </html>

